
body {
  background-color: #222;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-row {
  margin: 0px;
  display: flex;
  flex-direction: row;
  float: left;
}

#board {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  border: 4px solid #222;
  border-radius: 2px;
}
